.nav-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #3d7f61;
  z-index: 1000;
  gap: 20px;
  border: 1px solid #2c2c2c;
  border-bottom-right-radius: 30px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}
.navLink-style-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nav-links-container {
  /* padding-top: 1rem; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-links-container a {
  text-decoration: none;
  font-weight: 600;
  font-size: 10px;
  color: white;
}

.nav-links-container a:hover {
  color: white;
  text-decoration: underline;
}
