.login-container {
  color: white;
  width: 100%;
}

.login-container > h1 {
  color: white;
}
.login-form {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 80%;
}
.input {
  display: flex;
  justify-content: center;
  width: 200px;
}
input::placeholder {
  padding-inline: 20px;
  font-weight: bold;
}
