@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  
  100% {
      opacity: 1;
  }
}

.home-container {
  color: white;
  padding: 20px 10px;
  background-image: url(./assets/images/dogs-hero-image.png);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center bottom;
  background-size:calc(80%);
  background-color: #282828;
  height: 40vh;
  margin: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;

}

@keyframes drop {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
 
}

.home-container p {
  position: relative;
  animation: drop 1s 1;
  line-height: 24px;
  padding-inline: 20px;
}

.home-container .btnLink button {
  color: white;
  display: inline-block;
  text-align: center;
  background-color: #e71a88;
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 2px #f26700;
  width: 100%;
  margin-top: 27px;
  padding-block: 0.75rem;
  padding-inline: 3rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: 0.3s;
}

.home-container button:hover {
  background-color: #0f7355;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

.home-container a {
  color: white;
  text-decoration: none;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

@media screen and (min-width: 800px) {
  .home-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: stretch;
    height: 60vh;
    margin: 0;
    padding-top: 50px;
  }

  .home-container .btnLink {
    width: 25%;
  }
}
