/* Roboto Black */
/* @font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900; /* Black weight is typically 900 */
/* font-style: normal;
}  */
@import-normalize;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  /* background:white */
}

a {
  text-decoration: unset;
  color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
.hidden {
  display: none;
}

/* .carousel-container {
  padding-block: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container img {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  width: 20rem;
  height: 20rem;
  border-radius: 20px;
  object-fit: cover;
  object-position: bottom;
}


.carousel-container-elements {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: stretch;
  text-align: center;
  padding-inline: 20px;
}

.carousel-container-elements {
  font-weight: 600;
}

.carousel-buttons {
  display: flex;
  padding-top: 30px;
  gap: 2em
}

/* all buttons inside of carousel */
/* 
.carousel-buttons button {
  display: inline-block;
  text-align: center;
  background-color: #3B673A;
  border: none;
  width: 130px;
  margin-top: 27px;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  transition: 0.3s;

}

.carousel-buttons button:hover {
  background-color: #244323;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);

}

/* animations */
/* .carousel-fade-in {
  animation: carousel-fade-in 2s;
  opacity: 1;
}

@keyframes carousel-fade-in {
  from {
    opacity: 0;
  }
}  */

/*** Dogs page ***/

.dog-condition.top-notch {
  background-color: #161616;
}

.dog-condition.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 23px;
  text-align: center;
}

.not-found-container > h1 {
  font-size: 1rem;
}

.not-found-container .link-button {
  display: inline-block;
  text-align: center;
  background-color: #3b673a;
  border: none;
  width: 50%;
  margin-top: 27px;
  padding-block: 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
}

.footer-container {
  background-color: #161616;
  color: #aaaaaa;
  height: 10vh;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 800px) {
  .dog-condition {
    display: flex;
    align-items: center;
  }

  .dog-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
    padding-inline: 20px;
  }

  .dog-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
  }
}
