.dog-card {
  margin-bottom: 30px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
}

.dog-card-contents {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
}

/* link {
  display: flex;
  justify-content: center;
} */

.dog-card h2,
h3 {
  color: white;
}

.dog-card a {
  color: black;
  text-decoration: none;
}

.dog-card img {
  border-radius: 5px;
  object-fit: cover;
}

/* .dog-likes {
  display: flex;
  align-items: center;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #115e59;
  color: white;
} */

/* .dog-likes:hover {
  color: #ffead0;
} */
/* 
.dog-likes:focus {
  outline: none;
} */
