.h1__variant {
  color: white;
  text-align: right;
  font-size: 1.5rem;
}

.h2__variant {
  color: white;
  font-size: 1.125rem;
  text-align: center;
}

.h3__variant {
  color: white;
  font-size: 1.125rem;
  text-align: left;
}

.body__variant {
  font-size: 1rem;
  padding-top: 10px;
  line-height: 22px;
}

@media screen and (min-width: 800px) {
  .h1__variant {
    color: white;
    text-align: center;
    font-size: 2.125rem;
  }

  .h2__variant {
    color: white;
    font-size: 1.875rem;
    text-align: center;
  }

  .body__variant {
    font-size: 1rem;
    padding-top: 10px;
    line-height: 22px;
  }
}
