.ai-assistant-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100vw;
  padding-inline: 20px;
  gap: 20px;
}
.question-labels {
  color: white;
  padding: 40px;
}

.dog-ai-assistant-image {
  width: 100px;
  height: auto;
  border: white 2px solid;
  border-radius: 50%;
}

.drop-down-menu {
  width: 200px;
}

.question-buttons {
  display: flex;
  width: 30%;
  justify-content: center;
  gap: 2rem;
}

input {
  position: relative;
  max-width: 40%;
  height: 35px;
  border-radius: 5px;
  z-index: 1000;
  padding-left: 10px;
}

input:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece;
}

select {
  position: relative;
  max-width: 40%;
  height: 35px;
  border-radius: 5px;
  z-index: 1000;
}

select:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece;
}
/* 
@media screen and (min-width: 800px) {
} */
