.toast--success h3 {
  color: white;
  border: 1px solid white;
  background: #478d47;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
}

.success-message-alignment {
  display: flex;
  justify-content: center;
}
