.about-container {
  margin-top: 20px;
  padding: 20px;
}

.about-content {
  color: white;
  margin-bottom: 55px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 30px;
  background: #317e66;
  border: 1px solid grey;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.about-content h1 {
  line-height: 38px;
}

.about-content-intro p {
  line-height: 22px;
}

.about-content-main {
  border-radius: 30px;
  padding: 30px;
  margin-bottom: 40px;
  border: 1px solid white;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}
.about-hero-img {
  width: 80%;
}
.about-call-to-action {
  background-color: #317e66;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin-bottom: 40px;
  color: white;
  border-radius: 30px;
  border: 1px solid grey;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  margin-bottom: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-inline: 30px;
}

.about-call-to-action h2 {
  margin: 0;
  padding-block: 37px;
  font-weight: 1.5rem;
}

.about-call-to-action .btnLink button {
  width: 300px;
}

.about-call-to-action button:hover {
  background-color: #244323;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

@media screen and (min-width: 800px) {
  .about-hero-img {
    width: 100%;
    height: auto;
  }
  .about-container {
    padding-inline: 100px;
  }

  .about-content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 40px;
  }

  .welcome-content {
    width: 50vw;
  }
  .image-wrapper {
    width: 50vw;
    border-radius: 100%;
  }
  .about-hero-img {
    width: 100%;
  }

  .about-call-to-action button {
    width: 20%;
  }

  .about-call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
  }
}
