form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 80vw;
}
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 80vw;
  border: red 1px solid;
}
