
.nav-menu-container {
    display: flex;
    align-items: flex-start;
    padding: 2rem 2.5rem;
    background: #2C2C2C;
    height: 5vh;
    font-size: 1rem;
    gap: 1rem;
    color: white;
    position: relative;
    height: 40vh;
    background: linear-gradient(0deg, rgba(15,115,85,0.8), rgba(15,115,85,0.9)),
    url("./assets/images/nav-background-img.jpg") no-repeat center center;
    background-size: 100%;
    background-position: cover;
  
  
  }
  
  
  .nav-menu-container > svg {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 10vw;
  
    /* set height to pixels if you want angle to change with screen width */
  }
  .nav-menu-container .logo {
    color: white;
    font-weight: 900;
    font-size: 1rem;
    text-shadow:1px 1px 2px pink;
  }
  
  .nav-links-container {
    /* padding-top: 1rem; */
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2.5em;
  
  }
  
  .nav-links-container a {
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
    color:white;
  
  }
  
  .nav-links-container a:hover {
    color:white;
    text-decoration: underline;
  }
  


@media screen and (min-width: 800px) {
    .nav-menu-container .logo > h1 {
      font-size: 1.5rem;
      margin:0;
      text-shadow: 1px 1px 1px #000; 
    }
  
    .logo > p {
    
      font-size: 1rem;
      text-shadow: 1px 1px 1px #000; 
    }
    .logo svg {
      height:100px;
      fill:white;
      
    }
  
    .logo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin-right: 30%;
      width:15%;
      text-align: center;
    }
  
    .nav-links-container a {
      font-size: 1rem;
      text-shadow: 1px 1px 1px #000; 
    }
  
    .nav-menu-container {
      /* justify-content: space-between;
      padding: 20px 50px; */
    }
  
    .nav-links-container {
      display: flex;
      gap: 10em;
     
    }
  
  }