.dash-navigation-menu-container {
  display: flex;
}
.dash-navigation-links-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  background: #282828;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 20px;
  color: white;
  padding: 10px;
}

@media screen and (min-width: 800px) {
}
