button {
  color: white;
  display: inline-block;
  text-align: center;
  background-color: #e71a88;
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 2px #f26700;
  /* margin-top: 27px; */
  padding-block: 0.75rem;
  padding-inline: 3rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: 0.5s;
}

button:focus {
  background: #2b7d63;
  transform: scale(1.1);
}

button:hover {
  background: transparent;
  transform: scale(1.2);
}

button:active {
  transform: scale(1.1);
}
