

.footer-container {
    background-color: #161616;
    color: #aaaaaa;
    height: 10vh;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin:0
  }
  